<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/update_styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
    <div class="header__content">
      <a href="#" class="logo">
        <img class="logo_image" src="../Assets/img/icpep-logo.png" alt="ICPEP">
        <img class="logo_image" src="../Assets/img/mmsu-logo.png" alt="MMSU">
        <img class="logo_image" src="../Assets/img/casa-selada.png" alt="CASASELADA">Casa Selada
      </a>
  
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Dashboard</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

</body>

</html>